.accordion-button{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    border: none;
    cursor: pointer;
    background: #1b2129;
    color: #ffdfb6;
    font-family:  ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 18px;
    border-radius: 15px;
}

.accordion-container{
    background-color: #1b2129;
    width: 35rem;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 1.4rem;
}

