.blue-note {
    background-color: #1c2430b0;
    width: 33%;
    padding: 1.1rem;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

.green-note {
    background-color: #2B6E6233;
    width: 32%;
    padding: 1.1rem;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.red-note {
    background-color: rgb(69, 50, 49);
    width: 32%;
    padding: 1.1rem;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}