#background-styles{
    background-color: #2B6E6233;
    width: 300px;
    height: 280px; 
    margin-top: 20px;
    border-radius: 20px;
    padding-left: 20px;
    padding: 20px;
}

#operations-style{
    background-color: #1c2431;
    width: 26rem;
    height: 29rem; 
    border-radius: 20px;
    padding: 20px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
}

#relations-styles{
    background-color: #1c2431;
    width: 26rem;
    height: 29rem;
    border-radius: 20px;
    padding: 20px;  
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    text-align: left;
}

#logical-operators{
    background-color: #1c2431;
    width: 20rem;
    height: 19rem; 
    border-radius: 20px;
    padding: 20px;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
    text-align: left;
}

#note-styles{
    background-color: #2B6E6233;
    width: 27rem;
    height: 28rem;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

#note-h2{
    color: #44AC99;
}

#icon-book{
    color: #44AC99;
    filter: drop-shadow(2px 2px 5px  #44AC99);
}

li{
    list-style: decimal;
}