.icon-styles{
    background-color:#1c1e21;
    border-radius: 5px;
}

#icon-check{
    color: #44AC99;
    filter: drop-shadow(2px 2px 5px  #44AC99);
    margin-left: 10px;
}

#allowed-h3{
    color: #44AC99;
}

#not-allowed-h3{
    color: rgb(208 125 119)
}

#ban-icon{
    color: rgb(208 125 119);
    filter: drop-shadow(2px 2px 5px  #D07D77);
}

.container-section{
    display: flex;
    justify-content: space-around;
}