#root {
    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem;
}

.icon-card{
    color: #5cafad;
    filter: drop-shadow(2px 2px 8px  #5cafad99);
    margin: 4px;
    padding: 2px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100;
}

.cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 9rem;
    row-gap: 4rem;
    padding: 2rem;
}