h1,
h2,
h3,
header,
li,
p,
ul {
    color: white;
    font-family: sans-serif;
    font-family:  ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

li,
p,
ul{
    font-size: 17px;
}


body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    background-color: #080b10;
}

.All-title {
 font-size: 2.1rem;
 font-family:  ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
