.search-container {
    display: flex;
    margin-left: 720px;
}

.search-input {
    border-radius: 15px;
    border: 3px solid #444d5c;
    background-color: #1c1e21;
    outline: none;
    width: 369px;
    height: 30px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: -74px;
}

.search-input::placeholder {
    color: white;
    font-family: sans-serif;
    font-size: 15px;
}

.search-icon {
    display: flex;
    margin-left: -40px;
    margin-top: -68px;
    color: white;
}

