.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    border: 3px solid #444d5c;
    background-color: #161b22;
    outline: none;
    width: 20rem;
    padding-left: 10px;
    padding-right: 10px;
}

.search-input {
    background-color: #161b22;
    border-radius: 3rem;
    outline: none;
    border: none;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.search-input::placeholder {
    color: white;
    font-family: sans-serif;
    font-size: 15px;
}

.icon-search {
    color: #ffdfb6;
}