#background-code{
    margin-top: 30px;
    background-color: #1c2431;
    width: 320px;
    height: 280px;
    border-radius: 15px;
    padding: 1px;
    padding-left: 20px;
}

.img-styles{
    padding: 2rem;
}

.subtitle{
    color: #44AC99;
}

.conditional-types{
    background-color: #1b2129;
    width: 40%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0.8rem;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    padding: 1.0rem;
}

.button-styles{
    border: none;
    cursor: pointer;
    background: fixed;
    width: 100%;
    text-align: left;
    display: flex;
    align-items:center;
    color: #ffdfb6;
    font-family:  ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 1.1rem;
}

.ChevronDown{
    padding-left: 19rem;
}

.cycles{
    background-color: #1b2129;
    width: 40%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0.8rem;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    padding: 1.0rem;
}