.card {
  background-color: #161b22; 
  border: 1px solid #444d5c;
  border-radius: 17px; 
  width: 270px; 
  height: 270px; 
  padding: 20px;
  box-sizing: border-box;
  display: inline-block; 
  vertical-align: top; 
  cursor: pointer;
  }
  
.card-header {
    color: #f7dcbb; 
    font-weight: bold;
}
  
.card-divider {
    height: 1px;
    background-color: #444d5c; 
    margin: 10px 0;
    border: none;
}

  
.card-content {
    color: rgb(235 235 245 / 60%);
}
  
.card-container {
    text-align: center; 
}

.icon-book{
  cursor: pointer;
  color: #ffdfb6
}

.icon-box{
  display: flex;
  background-color: #1d2028;
  border-radius: 15px;
  width: 120px;
  justify-content: center;
}

p{
  font-family: sans-serif;
}