
.accordion-button {
    background-color: #292a2d;
    color: #fff2f2;
    border: none;
    padding: 1rem;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border-radius: 8px;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease;
    font-size: 15px;
    width: 300px;
  }
  
  .accordion-button:hover {
    background-color: #1c1e21;
  }
  
  .accordion-content {
    background-color: #1c1e21;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  