.icon-styles{
    background-color:#1c1e21;
    border-radius: 5px;
}

#icon-check{
    color: #44AC99;
    filter: drop-shadow(2px 2px 5px  #44AC99);
    margin-left: 10px;
}

#example-styles{
    margin-top: 30px;
    background-color: #1c2431;
    width: 230px;
    height: 170px;
    border-radius: 15px;
    padding: 1px;
    padding-left: 20px;
}

#example-styles p:first-child {
  margin-top: 20px; 
}

#allowed{
    background-color: #2B6E6233;
    width: 370px;
    height: 330px;
    border-radius: 20px;
    padding-left: 20px;
    margin-top: 30px;
    padding: 20px;
}

#allowed-h3{
    color: #44AC99;
}

#not-allowed{
    background-color: rgb(69, 50, 49);
    width: 370px;
    height: 330px;
    border-radius: 20px;
    padding-left: 20px;
    margin-top: 30px;
    padding: 20px;
}

#not-allowed-h3{
    color: rgb(208 125 119)
}

#ban-icon{
    color: rgb(208 125 119);
    filter: drop-shadow(2px 2px 5px  #D07D77);
}