.back-container {
    position: absolute;
    top: 20px;
    left: 20px;
    transition: top 0.3s ease; /* Agregamos una transición suave */
  }
  
  .back-container.sticky {
    position: fixed;
  }
  
  
  