#root {
    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100;
}

.cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 9rem;
    row-gap: 4rem;
    padding: 2rem;
}