@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    background-color: #080b10;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background: #080b10; 
  }
   
::-webkit-scrollbar-thumb {
    background: #9b9c9c52; 
    border-radius: 10px;
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #f1f1f152; 
  }
  
#root {
    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem;
}
