@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body::before {
  content: "";
  position: fixed; 
  inset: 0;
  z-index: -1;
  background-color: rgb(3, 7, 18); 
  background-image: radial-gradient(ellipse 70% 70% at 50% -32%, rgba(117, 116, 167, 0.5), rgba(112, 123, 156, 0)); 
  background-repeat: no-repeat; 
  background-size: cover; 
}


::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background: #080b10; 
  }
   
::-webkit-scrollbar-thumb {
    background: #9b9c9c52; 
    border-radius: 10px;
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #f1f1f152; 
  }
  
#root {
    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem;
}
